@font-face {
    font-family: MSTR;
    src: url("fonts/MonospaceTypewriter.ttf")
}

body {
    background-color: rgb(20, 20, 20);
}

p {
    color: white;
    margin: auto;
    font-family: MSTR;
}

.electrons {
    font-family: MSTR;
    color:rgb(255, 255, 255);
    margin: auto;
}

#elAmount {
    font-size: 35px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#elPerSec {
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#horizLine {
    width: 4.5%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.primaryGens {
    color: white;
    font-family: MSTR;
}

.genMults {
    color: rgb(55, 207, 245);
    animation: colorAnim 10s infinite;
}

.genPercentProd {
    color: rgb(0, 248, 132);
    animation: colorAnim2 10s infinite;
}

.unbuyableBtns {
    background-color: rgb(179, 0, 0);
    color: white;
    font-family: MSTR;
    border-width: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
}

.buyableBtns {
    background-color: rgb(0, 104, 0);
    color: white;
    font-family: MSTR;
    border-width: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
}

.offsiteLinks {
    position: fixed;
    bottom: 10px;

    font-family: MSTR;
}