@font-face {
    src: url("cmunrm.ttf");
    font-family: cmo;
}

h1 {
    margin: auto;
    font-family: inconsolata;
}

h2 {
    margin: auto;
    font-family: inconsolata;
    font-size: 20px;
}

h3 {
    margin: auto;
    font-family: inconsolata;
    font-size: 16px;
}

p {
    margin: auto;
    font-family: inconsolata;
    font-weight: lighter;
    font-size: 15px;
}

.formulas {
    font-weight: bold;
    font-family: cmo;
}