h1 {
    margin: auto;
    font-family: inconsolata;
    letter-spacing: 1px;
}

h2 {
    margin: auto;
    font-family: inconsolata;
    font-size: 20px;
    letter-spacing: 1px;
}

h3 {
    margin: auto;
    font-family: inconsolata;
    font-size: 16px;
    letter-spacing: 1px;
}

p {
    margin: auto;
    font-family: inconsolata;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
}

.formulas {
    font-weight: bold;
}
